---
import Redirect from '../../components/Redirect.astro';
---
<Redirect to="https://trymstene.com/projects/" canonical="https://trymstene.com/projects/">This page has moved to <a href="https://trymstene.com/projects/">trymstene.com/projects/</a>.</Redirect>
